source https://api.nuget.org/v3/index.json

framework: net9.0
storage: none

nuget FSharp.Core
nuget Giraffe prelease
nuget Hocon.Extensions.Configuration
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.Hosting
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.Logging
nuget System.Text.Json
nuget Microsoft.Extensions.Http
nuget Destructurama.FSharp
nuget Fue
nuget Expecto
nuget ThrottlingTroll
nuget YoloDev.Expecto.TestSdk prerelease
nuget Microsoft.NET.Test.Sdk
nuget Expecto.FsCheck
nuget AltCover
nuget TickSpec
nuget Microsoft.AspNetCore.TestHost
nuget FCQRS
nuget FCQRS.Model
nuget FCQRS.Serialization
nuget FCQRS.SqlProvider
nuget FluentMigrator.Runner.SQLite
nuget Microsoft.Data.Sqlite
nuget SqlProvider
nuget Microsoft.SemanticKernel.Agents.OpenAI prerelease
nuget FSharp.Control.TaskSeq